/*setting grid grid*/
main{
  background-image:url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX5984475.jpg");

  display: grid;
  width: 100%;
  height: 100%;
  
  /*assaigning grid roles*/
  grid-template-rows: 100px auto  60px;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas: 
    "appisleft header signin appisright"
    "appisleft appis appis appisrigth"   
    "footer footer  footer footer ";
}

#schedule{
  display:grid;
  background-color: #7E57C2;
  width:100%;
  height:90vh;
  
  grid-template-rows: 80px auto;
  
  grid-template-areas:
    "schedule1"
    "schedule2";
}

header{
  grid-area: header;
  /*background-color: #F50057 ;*/
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 5%;
  
}

signin{
  grid-area: signin ;
  /*background-color: #64DD17 ;*/
  
}

app{
  grid-area: appis ;
   
  padding:10%;
}

footer{
  grid-area: footer ;
  /*background-color: #0288D1 ;*/
}


#headerlink{
  font-family: fantasy;
  color:#B0BEC5;
   
}
#buttongroup{
  
  
}
#button{
  border-radius: 20px;
  width: 25%;
  height: 100px;
  margin:4%;
  white-space:normal;
  font-size: 1.8vw;
  
  
}

#schedule1{
  grid-area:schedule1;
 
}

.modal.visible{
  display:block;
  box-sizing:border-box;
  width: 40rem;
  height:auto;
  
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  
  padding: 2rem;
  
  background:white;
  border:solid 1px #ddd;
  box-shadow: 0 0 2px rgba(0,0,0,.17),0 0 3px rgba(0,0,0,.2);
}
.modal.hidden{
  display:none;
}
