/*setting grid grid*/
main{
  background-color: none;
	
  display: grid;
  width: 100%;
  height: 100%;
  margin-right:auto;
  margin-left:auto;

  /*assaigning grid roles*/
  grid-template-rows: 100px auto  60px;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-areas:
    "appisleft header signin appisright"
    "appisleft appis appis appisrigth"
    "footer footer  footer footer ";
}

#schedule{
  display:grid;
  background-color: #7E57C2;
  width:100%;
  height:90vh;

  grid-template-rows: 80px auto;

  grid-template-areas:
    "schedule1"
    "schedule2";
}

header{
  grid-area: header;
  /*background-color: #F50057 ;*/
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 5%;

}

signin{
  grid-area: signin ;
  display: inline-flex;
  height: 50px;
  /*background-color: #64DD17 ;*/

}

app{
  grid-area: appis ;
  
  padding:10%;
}

footer{
  grid-area: footer ;
  margin-right:auto;
  margin-left:auto;
  /*background-color: #0288D1 ;*/
}


#headerlink{
  font-family: fantasy;
  color:#B0BEC5;

}
#buttongroup{


}
#button{
  border-radius: 20px;
  width: 25%;
  height: 80px;
  margin:4%;
  white-space:normal;
  font-size: 10px;
 
  word-wrap: break-word;
  padding:0;


}

#schedule1{
  grid-area:schedule1;

}

.modal.visible{
  display:inline;
  box-sizing:border-box;
  width: 40rem;
  height:auto;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);

  padding: 2rem;

  background:white;
  border:solid 1px #ddd;
  box-shadow: 0 0 2px rgba(0,0,0,.17),0 0 3px rgba(0,0,0,.2);
}
.modal.hidden{
  display:none;
}
#form-submit-data{
	display:inline;
}
